
body {
    font-family: Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
    font-size: 16px;
    background-color: lightblue;
}

h2 {
    font-size: 40px;
    color:purple;
}
h3 {
    font-size: 40px;
    color: green;
}
::placeholder{
    color: gray;
    font-size: 16px;
}
input {
     color: red;
    width: 300px;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
}

#result {
     color: blue;
    font-size: 28px;
  
  
}



@media (max-width: 600px) {

    h2 {
        font-size: 30px;
    }

    input {
        width: 90%;
        font-size: 18px;
    }

    button {
        width: 90%;
        display: block;
       
    }

    #result {
        font-size: 22px;
    }
}
.dark {
    background-color: #222;
    color: white;
}

.dark h2 {
    color: yellow;
    color: white
}

.dark h3 {
    color: lightgreen;
    color: white;
}

.dark input {
    background-color: #333;
    color: white;
    
}

.dark button {
    background-color: #555;
    color: white;
    
}

.dark #result {
    color: white;
    background-color: #333;
   
}